@{
    ViewData["Title"] = "Home Page";
}

@{
    string[] cities = new string[] { "Портленд", "Нью-Йорк", "Лос-Анджелес" };
    string[] states = new string[] { "Орегон", "Нью-Йорк", "Калифорния" };
}

@using Learn.HtmlHelpers.App_Code

@*Хелперы упрощают дублирование однотипного HTML кода*@
<h3>Города</h3>
@Html.CreateList(cities)
<br/>
<h3>Штаты</h3>
@*Альтернативный способ вызова*@
@ListHelper.CreateList(Html, states)
