
@{
    ViewData["Title"] = "GetData";
}

<h2>GetData</h2>

<form method="post">
    <p>
        <input type="text" name="[0]" />
    </p>
    <p>
        <input type="text" name="[2]" />
    </p>
    <p>
        <input type="text" name="[1]" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>

<form method="post">
    <p>
        <input type="text" name="items[germany]" />
    </p>
    <p>
        <input type="text" name="items[france]" />
    </p>
    <p>
        <input type="text" name="items[spain]" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>
