@{
    ViewData["Title"] = "Home Page";
}

<p>@await Component.InvokeAsync("BestCar")</p>
<p>@await Component.InvokeAsync("CarList")</p>
<p>@await Component.InvokeAsync("CarList", new { maxprice = 137700 })</p>
<p>@await Component.InvokeAsync("CarList", new { maxprice = 110000, minprice = 55000 })</p>