@model IEnumerable<MvcAspDotNetCoreDemo.Models.Car>
@{
    ViewData["Title"] = "Каталог товаров";
}
<h3>Автомобили</h3>
<table class="table-condensed">
    <tr>
        <td>Марка</td>
        <td>Модель</td>
        <td>Год выпуска</td>
        <td>Цена</td>
        <td></td>
    </tr>
    @foreach (var car in Model)
    {
        <tr>
            <td>@car.Make</td>
            <td>@car.Model</td>
            <td>@car.Year</td>
            <td>@car.Price</td>
            <td><a href="~/Home/Buy/@car.Id">Купить</a></td>
        </tr>
    }
</table>