@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<body>
    @* Пример tag-хелпера с переходом по пути контроллер/страница *@
    <a asp-controller="Home" asp-action="Contact">Контакты</a>
</body>
</html>

