@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    @*ScriptTagHelper*@

    @*asp-append-version: если имеет значение true, то к пути к файлу скрипта добавляется номер версии
        asp-fallback-src: указывает вспомогательный путь к скрипту, который используется, если загрузка скрипта, указанного в атрибуте src пройдет неудачно
        asp-fallback-test: определяет выражение, которое тестирует загрузку основного скрипта из атрибута src
        asp-src-include: определяет шаблон подключаемых файлов, через запятую можно задать несколько шаблонов
        asp-src-exclude: определяет через запятую набор шаблонов для тех файлов, которые следует исключить из загрузки
        asp-fallback-src-include: определяет через запятую набор шаблонов файлов, которые подключаются в том случае, если загрузка основного скрипта из атрибута src прошла неудачно
        asp-fallback-src-exclude: определяет через запятую набор шаблонов файлов, которые следует исключить из загрузки в том случае, если загрузка основного скрипта из атрибута src прошла неудачно
        asp-route-[название параметра]: определяет значение для определенного параметра*@

    @*Подключаем все скрипты из папки js*@
    <script asp-src-include="~/js/**/*.js"></script>
    @*Подключаем все скрипты без подкоталогов.*@
    <script asp-src-include="~/js/*.js"></script>
    @*Подключаем все скрипты из папки js кроме папки util*@
    <script asp-src-include="~/js/**/*.js" asp-src-exclude="~/js/util/**/*.js"></script>

    @*Определение шаблона
        ?: заменяет любой одиночный символ за исключением слеша.
        *: заменяет любое количество символов за исключением слеша.
        **: заменяет любое количество символов, в том числе и слеш.*@

    @*LinkTagHelper
        Класс LinkTagHelper определяет тег link, который используется для подключения файлов стилей.
        Он применяет следующие атрибуты:

        asp-append-version: если имеет значение true, то к пути к названию файла стиля добавляется номер версии
        asp-fallback-href: указывает вспомогательный путь к файлу стиля, который используется, если загрузка файла,
            указанного в атрибуте href пройдет неудачно
        asp-fallback-test-class: определяет класс, который используется для теста загрузки стиля из атрибута href
        asp-fallback-test-property: определяет свойство, которое используется для тестирования загрузки стиля из атрибута href
        sp-fallback-test-value: определяет значение свойства из атрибута asp-fallback-test-property,
            которое используется для теста загрузки стиля из атрибута href
        asp-href-include: определяет через запятую набор шаблонов подключаемых файлов стилей
        asp-href-exclude: определяет через запятую набор шаблонов для тех файлов,
            которые следует исключить из загрузки
        asp-fallback-href-include: определяет через запятую набор шаблонов файлов,
            которые подключаются в том случае, если загрузка основного файла стиля из атрибута href прошла неудачно
        asp-fallback-href-exclude: определяет через запятую набор шаблонов файлов,
            которые следует исключить из загрузки в том случае, если загрузка основного файла стиля из атрибута href прошла неудачно*@

    @*Добавляем все файлы из папки CSS*@
    <link asp-href-include="~/css/**/*.css" />
    @*Добавляем все файлы из папки CSS, кроме mystyles*@
    <link asp-href-include="~/css/**/*.css" asp-href-exclude="~/css/mystyles/**/*.css" />

    @*Добавление версии решит проблему кэширования скриптов на стороне клиента, 
        так как название после изменений будет менятся.*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    @* Пример tag-хелпера с переходом по пути контроллер/страница *@
    <a asp-controller="Home" asp-action="Contact">Контакты</a>

    @*
        asp-controller: указывает на контроллер, которому предназначен запрос
        asp-action: указывает на действие контроллера
        asp-host: указывает на домен сайта
        asp-protocol: определяет протокол (http или https)
        asp-route: указывает на название маршрута
        asp-all-route-data: устанавливает набор значений для параметров
        asp-route-[название параметра]: определяет значение для определенного параметра
        asp-fragment: определяет ту часть хэш-ссылки, которая идет после символа решетки #.
            Например, "paragraph2" в ссылке "http://mysite.com/#paragraph2"
    *@

    <a asp-controller="Home" asp-action="About" asp-host="localhost:44332" asp-protocol="https">О сайте</a>
    <br />

    @* Примеры запросов с параметрами *@
    <a asp-controller="Learn" asp-action="Create" asp-route-id="5" asp-route-age="18" asp-route-name="tom">Item5</a>
    <a asp-controller="Learn" asp-action="Create" asp-all-route-data='new Dictionary<string,string> { { "id", "5" }, {"name", "tom" }, { "age", "18" } }'>Item5</a>


    @* Генерация разметки в зависимости от состояния приложения(разработка или деплой) *@
    @*<environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
    </environment>*@
</body>
</html>

