@model Phone
@{
    ViewData["Title"] = "Validation";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <h2>Validation</h2>

    @*ValidationMessageTagHelper*@

    @*<label asp-for="Name"></label>
    <input type="text" asp-for="Name" />
    <span asp-validation-for="Name" />*@

    @*ValidationSummaryTagHelper*@
    @*<div class="validation" asp-validation-summary="ModelOnly" />*@


    <form asp-antiforgery="true" asp-action="CreatePhone" asp-controller="Learn">
        <div>
            <div class="validation" asp-validation-summary="All"></div>
            <div>

                <label asp-for="Name"></label><br />
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>

            <div>
                <label asp-for="Price"></label><br />
                <input asp-for="Price" />
                <span asp-validation-for="Price"></span>
            </div>
            <div>
                <label asp-for="CompanyId"></label><br />
                <select asp-for="CompanyId" asp-items="ViewBag.Companies">
                    <option selected="selected" disabled="disabled">Выберите компанию</option>
                </select>
                <span asp-validation-for="CompanyId"></span>
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </div>
    </form>
</body>
</html>

